<!-- Login Form -->
<div ng-if="vm.showLogin" class="login-form">
  <form class="" ng-submit="vm.saveCredentials()">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input required class="input" ng-model="vm.username" type="text" placeholder="Enter your username">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input required class="input" ng-model="vm.password" type="password" placeholder="Enter your password">
      </div>
    </div>
    <input type="submit" class="button is-primary" value="Save" />
  </form>
</div>



<!-- Basic Information Form -->
<div ng-if="!vm.showLogin && !vm.submitted">
  <form class="" ng-submit="vm.getInfo()">
    <div class="field">
      <label class="label">HTML</label>
      <div class="control">
        <textarea required class="textarea" ng-model="vm.courseHtml" placeholder="Course HTML"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Descuento</label>
      <div class="control">
        <input required ng-model="vm.data.discount" class="input" type="number" placeholder="Ingresa el descuento">
      </div>
    </div>

    <div class="field">
      <label class="label">URL Del Curso</label>
      <div class="control">
        <input required ng-model="vm.courseLink" class="input" type="text" placeholder="URL del curso">
      </div>
    </div>

    <div class="categories-selection">
      <label class="checkbox" ng-repeat="cat in categories">
        <input type="checkbox" ng-model="selectedList[cat.id]">
        {{ cat.text }}
      </label>
    </div>

    <input type="submit" class="button is-primary" value="Obtener Información" />
  </form>
</div>

<!-- Information Preview -->
<div id="response" ng-if="vm.submitted">
  <h2>son correstos los datos?</h2>
  <div>
    Titulo
    <p>
      {{
        vm.data.discount === 'FREE'
          ? '[FREE] ' + vm.data.title + ' [Udemy]'
          : '[' + vm.data.discount + '% OFF] ' + vm.data.title + ' [Udemy]'
      }}
    </p>
  </div>
  <div>
    Extracto
    <p>{{ vm.data.excerpt }}</p>
  </div>
  <div>
    Imagen
    <p><img ng-src="{{ vm.image }}" /></p>
  </div>

  <button ng-click="vm.send()">OK</button>
  <button ng-click="vm.reset()">Reset</button>
</div>