<div ng-if="vm.showLogin" class="login-form">
  <form class="" ng-submit="vm.saveCredentials()">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input required class="input" ng-model="vm.username" type="text" placeholder="Enter your username">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input required class="input" ng-model="vm.password" type="password" placeholder="Enter your password">
      </div>
    </div>
    <input type="submit" value="Save" />
  </form>
</div>
<div ng-if="!vm.showLogin && !vm.submitted" class="form">
  <label for="udemyUrl">Udemy course html</label>
  <br />
  <textarea ng-model="vm.courseHtml"></textarea>
  <br />
  <label for="udemyUrl">discount</label>
  <br />
  <input ng-model="vm.data.discount" />
  <br>
  <label for="udemyUrl">udemy url</label>
  <br />
  <input type="text" ng-model="vm.courseLink">
  <br />
  <div ng-repeat="cat in categories">
    <input type="checkbox" id="{{ cat.id }}" ng-model="selectedList[cat.id]" />
    <label for="{{ cat.id }}">{{ cat.text }}</label>
  </div>

  <br />
  <button ng-click="vm.getInfo()">Get Information</button>
</div>
<div id="response" ng-if="vm.submitted">
  <h2>son correstos los datos?</h2>
  <div>
    Titulo
    <p>
      {{
        vm.data.discount === 'FREE'
          ? '[FREE] ' + vm.data.title + ' [Udemy]'
          : '[' + vm.data.discount + '% OFF] ' + vm.data.title + ' [Udemy]'
      }}
    </p>
  </div>
  <div>
    Extracto
    <p>{{ vm.data.excerpt }}</p>
  </div>
  <div>
    Imagen
    <p><img ng-src="{{ vm.image }}" /></p>
  </div>

  <button ng-click="vm.send()">OK</button>
  <button ng-click="vm.reset()">Reset</button>
</div>